body{
    background: #f2f2f2;
  	font-family: 'Open Sans', sans-serif;
}

.search-bar-wrap {
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.search-bar {
	width: 100%;
	position:relative;
	display: flex;
}

.search-term {
	width: 100%;
	border: 3px solid #00b4cc;
	border-right: none;
	padding: 5px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9dbfaf;
}

.search-term:focus {
	color: #00b4cc;
}

.search-button {
	width: 40px;
	height: 36px;
	border: 1px solid #00b4cc;
	background: center;
	text-align: center;
	color: rgb(15, 201, 207);
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}
