body {
	height: 100%;
	margin: 0px;
	background-repeat: no-repeat;
	background-image: url("../image/milky-way.jpg");
	background-size: cover;
}

#search-bar-wrap {
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#search-bar-input {
	width: 100%;
	height: 44px;
	border: 3px solid #00b4cc;
	border-right: none;
	padding: 5px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9dbfaf;
}

#search-bar-input:focus {
	color: #00b4cc;
}

#search-bar-submit-button {
	width: 40px;
	height: 44px;
	border: 1px solid #00b4cc;
	background: center;
	text-align: center;
	color: rgb(15, 201, 207);
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
}
